* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    color: rgb(82, 82, 82);
}

h3 {
    color: #72b4b6;
    margin: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    width: 100%;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #e8e8e8;
    box-shadow: #e8e8e8 2px 2px 8px;
}

.hakim-title {
    font-size: 30px;
    color: red;
    text-transform: uppercase;
    margin-right: 10px;
}

.searchbox {
    color: #555;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid cadetblue;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    flex-grow: 1;
}

input[type="search"] {
    padding: 5px;
    padding-left: 20px;
    border: none;
    background: transparent;
    color: inherit;
    border-radius: inherit;
    flex-grow: 1;
}

input[type="search"]::placeholder {
    color: #bbb;
}

button[type="submit"] {
    width: 60px;
    background: none;
    border: none;
    cursor: pointer;
    background-color: cadetblue;
    color: white;
}

button[type="submit"]:hover {
    background-color: #72b4b6;
}


input[type="search"]:focus {
    outline: none;
    color: cadetblue;
}

.login-area {
    text-align: center;
    width: 200px;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 80px;
    left: 0px;
    padding-top: 40px;
    border-top: 1px solid cadetblue;
}

.login-card {
    margin-left: 20px;
    margin-right: 20px;
}

.role-link {
    font-size: 14px;
    line-height: 10px;
}

.role-link:hover {
    color: #72b4b6;
}

button[type="submit"].role-link-button {
    padding: 10px;
    width: 100px;
    margin-top: 20px;
}

.cart {
    width: 300px;
    padding: 10px;
    margin-left: 10px;
    border-style: solid;
    border-color: cadetblue;
}

.cart-button {
    padding-left: 10px;
    padding-right: 10px;
    border-style: none;
    background-color: cadetblue;
    color: white;
    cursor: pointer;
}

.cart-button:hover {
    background-color: #72b4b6;
}

.main-menu {
    text-align: center;
    border-right: 1px solid #e8e8e8;
}

.menu-button {
    padding: 20px;
    width: 200px;
    border-style: none;
    font-size: 16px;
}

.menu-button:hover {
    background-color: cadetblue;
    color: white;
    border-left: 4px solid red;
}

.main-container {
    display: flex;
    flex-direction: row;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-item {
    width: 250px;
    height: 350px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-shadow: #e8e8e8 2px 2px 8px;
    text-align: center;
}

.product-img {
    height: 100px;
    margin-bottom: 20px;
}

.product-img img {
    height: 100px;
    max-width: 170px;
    object-fit: contain;
}

.product-item-main {
    height: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
}

p.product-name {
    font-size: 24px;
    font-weight: lighter;
    margin-bottom: 10px;
}

p.product-description {
    padding: 10px;
}

.product-item-footer {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

p.product-price {
    color: #72b4b6;
    font-size: 16px;
    padding: 10px;
    width: 150px;
}

.add-to-cart {
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #72b4b6;
}

.add-to-cart:hover {
    background-color: cadetblue;
    color: white;
}

ul {
}

li {
    list-style: none;
}

footer {
    height: 300px;
    background-color: cadetblue;
    text-align: center;
    padding: 50px;
    color: white;
    margin-left: 200px;
}

.row {
    margin-top: 20px;
    margin-left: 20px;
    line-height: 20px;
}

.table {
    margin: 40px;
}

.edit-button {
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #72b4b6;
}

.edit-button:hover {
    background-color: cadetblue;
    color: white;
}

.delete-button {
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #72b4b6;
}

.delete-button:hover {
    background-color: red;
    color: white;
}