@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="area-page">
    <div class="row">
        <h3>
            <a asp-area="Identity" asp-page="/Account/Login">Allt klart, nu kan du logga in!</a>
        </h3>
    </div>
</div>