@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="area-page">
    <div class="row">
        @{
            if (@Model.DisplayConfirmAccountLink)
            {
        <h3>
            <a class="role-link" id="confirm-link" href="@Model.EmailConfirmationUrl">Klicka här för att bekräfta mailadress!</a>
        </h3>
            }
            else
            {
        <p>
                Please check your email to confirm your account.
        </p>
            }
        }
    </div>
</div>