@page
@model hakimlivs.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div>
    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin") || User.IsInRole("Moderator"))
{
    <section class="main-menu">
        <h3>Adminpanel</h3>
        <div class="menu-button">
            <a asp-area="" asp-page="/Products/Create">Lägg till produkter</a>
        </div>
        <div class="menu-button">
            <a asp-area="" asp-page="/Products/Index">Ändra produkter</a>
        </div>
        <div class="menu-button">
            <a asp-area="" asp-page="/Orders/Index">Ordrar</a>
        </div>
        <div class="menu-button">
            <a asp-area="" asp-page="/Admin/RoleManager/Index">Lägg till roller</a>
        </div>
        <div class="menu-button">
            <a asp-area="" asp-page="/Admin/UserRoles/Index">Rollhantering</a>
        </div>
        <div class="login-area">
            <div class="login-card">
                <partial name="_LoginPartial" />
            </div>
        </div>
    </section>
}
</div>

<div class="product-div">
    @foreach (var item in Model.Products)
    {
        <div class="product-item">
            <div class="product-img">
                <img src=@item.Image>
            </div>
            <div class="product-item-main">
                <p class="product-name">
                    @item.Name
                </p>
                <p class="product-description">
                    @item.Info
                </p>
            </div>
            <div class="product-item-footer">
                <div class="edit-button">
                    <a asp-page="./Edit" asp-route-id="@item.Id">Ändra</a>
                </div>
                <div class="delete-button">
                    <a asp-page="./Delete" asp-route-id="@item.Id">Ta bort</a>
                </div>
            </div>
        </div>
    }