@page
@model Products.IndexModel
@{
    ViewData["Title"] = "Home page";
}


@foreach (var item in Model.Product)
{
    <div class="product-item">
        <p>
            @item.Name
        </p>
        <p>
            @item.Price
        </p>
        <p>
            @item.Info
        </p>
    </div>
}