@page
@model IndexModel
@{
    ViewData["Title"] = "Hakim Livs";
}

<div class="main-container">

    <div class="main-menu">
        <label>Menyval</label>
        <label>Menyval</label>
        <label>Menyval</label>
        <label>Menyval</label>
    </div>

    <div class="main-page">
        
        <div class="offer-items">
            <div class="offer-item">
                <h1>Det här är ett erbjudande!</h1>
            </div>
            <div class="offer-item">
                <h1>Det här är ett erbjudande!</h1>
            </div>
            <div class="offer-item">
                <h1>Det här är ett erbjudande!</h1>
            </div>
        </div>

        <div class="product-header">
            Products
        </div>

        <div class="products">
            <div class="product-item">
                <h1>
                    Det här är en produkt!
                </h1>
            </div>
        </div>
    </div>

</div>
