@page
@model Products.IndexModel

@{
    ViewData["Title"] = "Hakim Livs";
}
    
   @foreach (var item in Model.Product)
        {
            <div class="product-item">
                <div class="img">
                    <img src=@item.Image>
                </div>
                <p class="name">
                    @item.Name
                </p>
                <p class="price">
                    @item.Price
                </p>
                <div class="description">
                    <p class="info">
                        @item.Info
                    </p>
                </div>
            </div>
        }