@page
@model IndexModel
@{
    ViewData["Title"] = "Hakims Livs";
}

<div class="offer-items">
        <div class="offer-item">
            <h1 class="display-4">Det här är ett erbjudande!</h1>
        </div>
        <div class="offer-item">
            <h1 class="display-4">Det här är ett erbjudande!</h1>
        </div>
        <div class="offer-item">
            <h1 class="display-4">Det här är ett erbjudande!</h1>
        </div>
</div>

<div class="product-header">
    Produkter
</div>

<div class="products">
        <div class="product-item">
            <h1 class="display-4">Det här är en produkt!</h1>
        </div>
</div>