<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - hakimlivs</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <a class="navbar-brand" asp-area="" asp-page="/Index">hakimlivs</a>
        <input type="search" placeholder="sök"/>
        <label for="login-menu">Användare:</label>
        <select name="login-menu" id="login-menu">
            <option>
                <div>
                    <partial name="_LoginPartial" />
                </div>
            </option>
        </select>
        <label for="cart-menu">Ordrar</label>
        <select name="cart-menu" id="cart-menu"></select>
        <button>
            <div>checkout</div>
        </button>
    </header>
    <div>
        <main role="main">
            <div class="main-container">
                <div class="main-menu">
                    <ul class="menu-list">
                        <li class="menu-list-item">

                            Menyval
                        </li>
                        <li class="menu-list-item">
                            Menyval
                        </li>
                        <li class="menu-list-item">
                            Menyval
                        </li>
                        <li class="menu-list-item">
                            Menyval
                        </li>
                        <li class="menu-list-item">
                            Menyval
                        </li>
                    </ul>
                </div>
                <div class="main-page">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>

    <footer>
        <div>
            &copy; 2022 - hakimlivs - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    @*<script src="~/js/site.js" asp-append-version="true"></script>*@

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>