    @using hakimlivs.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hakim Livs</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <a class="hakim-title" asp-area="" asp-page="/Index">hakimlivs</a>
        <form method="post" class="searchbox" asp-page-handler="search">
            <input type="search" name="SearchTerm" id="SearchTerm" placeholder="Sök efter en vara..."/>
            <button type="submit" class="search-button">Sök</button>
        </form>
        @if (User.IsInRole("Basic"))
        {
            <button type="submit" class="go-to-cart">
                <a asp-area="" asp-page="/UserCart/Index">Till din varukorg</a>
            </button>
        }
    </header>

        <main class="content">
            @RenderBody()
        </main>

    <footer>
        <div class="container">
            &copy; 2022 - hakimlivs - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>