@using hakimlivs.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hakim Livs</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
 
</head>
<body>
    <header>
        <a class="hakim-title" asp-area="" asp-page="/Index">hakimlivs</a>
        <form method="post" class="searchbox">
            <input type="search" name="SearchTerm" id="SearchTerm" placeholder="Sök efter en vara..."/>
            <button type="submit">Sök</button>
        </form>
        <select class="cart" cite="varukorg">
        </select>
        <button class="cart-button">
            Till kassan
        </button>
    </header>

        <main class="content">
            @RenderBody()
        </main>

    <footer>
        <div class="container">
            &copy; 2022 - hakimlivs - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>