<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hakim Livs</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <a class="navbar-brand" asp-area="" asp-page="/Index">hakimlivs</a>
        <input type="search" placeholder="sök efter någe"/>
        <select class="login">
            <option>
                <partial name="_LoginPartial" />
            </option>
        </select>
        <select class="cart">

        </select>
        <button>
            Till kassan
        </button>
    </header>

    <div class="main-menu">
        <label>Menyval</label>
        <label>Menyval</label>
        <label>Menyval</label>
        <label>Menyval</label>
    </div>

    <main role="main">
            @RenderBody()
    </main>

    <footer>
        <div class="container">
            &copy; 2022 - hakimlivs - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>