<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hakim Livs</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <a class="hakim-title" asp-area="" asp-page="/Index">hakimlivs</a>
        <input class="searchbox" type="search" placeholder="sök efter någe"/>
        <div class="login">
                <partial name="_LoginPartial" />
        </div>
        <select class="cart" cite="varukorg">

        </select>
        <button class="cart-button">
            Till kassan
        </button>
    </header>

    <div class="main-container">

        <section class="main-menu">
            <div class="menu-button">
                <a asp-page="Products/Index">Frukt</a>
            </div>
            <div class="menu-button">
                <a href="#">Läsk</a>
            </div>
            <div class="menu-button">
                <a href="#">Kött</a>
            </div>
            <div class="menu-button">
                <a href="#">Fisk</a>
            </div>
            <div class="menu-button">
                <a href="#">Bacon</a>
            </div>
        </section>

        <main class="content">
            @RenderBody()
        </main>

    </div>


    <footer>
        <div class="container">
            &copy; 2022 - hakimlivs - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>