@using Microsoft.AspNetCore.Identity
@using hakimlivs.Models
@model Products.IndexModel
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="role-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Välkommen @User.Identity.Name!<br />Min profil</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" >
            <button  type="submit" class="role-link-button">Logga ut</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="role-link" asp-area="Identity" asp-page="/Account/Register">Ny kund</a>
    </li>
    <li class="nav-item">
        <a class="role-link" asp-area="Identity" asp-page="/Account/Login">Logga in</a>
    </li>
}
</ul>
